<div style="margin-top: -180px;">
  <!-- COVER IMAGE AND FLOATING BUTTON -->
  <!-- ICON, NAME AND DESCRIPTION -->
  <div class="wow fadeInUp content-card">
    <!-- REPLACE WITH YOUR APP URL -->
    <div class="icon-and-title-flex">
      <%= image_tag "chest.png", :class => "appicon" %>
      <div class="title-container t-title">
        <!-- REPLACE WITH YOUR APP NAME -->
        <span class="text-title">1000 Points for Free</span>
        <br><div class="intertext-padding"></div>
        <!-- REPLACE WITH YOUR DEV NAME -->
        <span class="text-subtitle">No signup necessary.</span>
        <br><div class="intertext-padding"></div>
        <!-- REPLACE WITH YOUR APP PRICE -->
      </div>
    </div><br><br>
    <!-- REPLACE WITH YOUR APP DESCRIPTION -->
    <span class="text-description" style="font-size: 1.1em">
      Think your bus is always late? Put your money where your mouth is!
      Ride The Odds lets you wager points on the performance of any bus in
      Vancouver's TransLink network. Win enough points to increase your rank,
      unlock more sophisticated bet types, and earn sweet prizes!
    </span>
    <p style="visibility: hidden;">.</p>
    <a href="/wager/bus" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="font-size: 1.1em">
      Try it!
    </a>
  </div>
</div>


<!-- JAVASCRIPT -->

<!-- Animations -->
<script src="js/material.js"></script>
