<h1>This is the new page</h1>

<div class="wow fadeInUp content-works">
			    <div class="screenshot-item">
						<div class="bet-image">
              <a href="img/screenshots/ss1.png" data-featherlight="image">
                  <img src="img/bets/coin_toss.jpg">
							<div class="bet-overlay">
								<!--Put text here and style-->
								<h3>Over-Under</h3>
							</div>
						</a>
						</div>
          </div>
                <div class="screenshot-item">
									<div class="bet-image">
                    <a href="img/screenshots/ss2.png" data-featherlight="image">
                        <img class="disabled" src="img/bets/spread.png">
										<div class="bet-overlay">
											<p>3 wins to unlock</p>
										</div>
									</a>
									</div>
                </div>
                <div class="screenshot-item">
									<a href="img/bets/head-to-head.jpg" data-featherlight="image">
									<div class="bet-image">
                        <img class="disabled" src="img/bets/head-to-head.jpg">
										<div class="bet-overlay">
											<p>10 wins to unlock</p>
										</div>
									</a>
									</div>
                </div>
                <div class="screenshot-item">
									<a href="img/bets/props.jpg" data-featherlight="image">
									<div class="bet-image">
                        <img class="disabled" src="img/bets/props.jpg">
										<div class="bet-overlay">
											<!--Put text here and style-->
											<p>25 wins to unlock</p>
										</div>
									</a>
									</div>
                </div>
     	    </div>
