<h3 style="margin-top: -30px;">What type of bet would you like to place?</h3>

<a href="/wager/bus">
	<div class="bet-type-overlay">
		.
	</div>
</a>
<div class="bet-type-section">
	<%= image_tag 'bet-type.png' %>
</div>
