<h1>Woohoo!</h1>
<h4>You have enough points for <strong style="color: rgb(140, 200, 0); font-size: 1.4em;">5</strong> prizes!</h4>

<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
</style>

<div class="card-holder">
<div class="coffee-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand title-black">
    <h2 style="background-color: rgba(0,0,0,0.8);" class="mdl-card__title-text">Some Nearby Cafe</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <strong>3000 Points:</strong>
    <p>Enjoy a free cup of caffeine from this imaginary cafe</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Claim!
    </a>
  </div>
</div>
</div>


<div class="card-holder">
<div class="restaurant-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand title-black">
    <h2 style="background-color: rgba(0,0,0,0.8);" class="mdl-card__title-text">Personas Patio + Restaurant + Lounge</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <strong>5000 Points:</strong>
    <p>Enjoy a free appetizer at Personas Restaurant</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Claim!
    </a>
  </div>
</div>
</div>


<div class="card-holder">
<div class="compass-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand title-black">
    <h2 style="background-color: rgba(0,0,0,0.8);" class="mdl-card__title-text">TransLink</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <strong>6500 Points:</strong>
    <p>Add $10.00 in credit to your Compass card</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Claim!
    </a>
  </div>
</div>
</div>


<div class="card-holder">
<div class="sports-action-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand title-black">
    <h2 style="background-color: rgba(0,0,0,0.8);" class="mdl-card__title-text">BCLC Sports Action</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <strong>18,000 Points:</strong>
    <p>Here's $5.00 in credit to try your hand at betting (and winning!) REAL
      money on BCLC's sports betting platform!</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="http://lotto.bclc.com/sports-action/daily-menu.html" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Claim!
    </a>
  </div>
</div>
</div>


<div class="card-holder">
<div class="play-now-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand title-black">
    <h2 style="background-color: rgba(0,0,0,0.8);" class="mdl-card__title-text">PlayNow.com</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <strong>25,000 Points:</strong>
    <p>Here's $5.00 in credit to try your hand at betting (and winning!) REAL
      money on BCLC's sports betting platform!</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://www.playnow.com/pools/play#pools-home" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Claim!
    </a>
  </div>
</div>
</div>
